.add-facility-form {
  max-width: 400px;
  margin: 50px auto; /* Dodaje margines od góry oraz wyśrodkowanie formularza */
  padding: 20px;
  background-color: #f0f0f0; /* Jasne tło formularza */
  border-radius: 25px; /* Zaokrąglone rogi */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-facility-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Kolor nagłówka */
}

.add-facility-form div {
  margin-bottom: 15px;
}

.add-facility-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333; /* Kolor tekstu etykiet */
}

.add-facility-form input,
.add-facility-form select {
  width: calc(100% - 20px); /* Zmniejsza szerokość, aby uwzględnić padding i uniknąć wystawania */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px; /* Zaokrąglone rogi pól tekstowych */
  background-color: #fff; /* Białe tło pola tekstowego */
  color: #333; /* Kolor tekstu w polach */
  box-sizing: border-box; /* Upewnia się, że padding nie zwiększa szerokości pola */
  margin: 0 auto; /* Wyśrodkowanie pól tekstowych */
  display: block; /* Upewnia się, że input zajmuje całą szerokość dostępnego miejsca */
}

.add-facility-form input::placeholder,
.add-facility-form select::placeholder {
  color: #999; /* Kolor tekstu zastępczego */
}

.add-facility-form button {
  width: calc(100% - 20px); /* Zmniejsza szerokość, aby uwzględnić padding i uniknąć wystawania */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px; /* Zaokrąglone rogi przycisku */
  cursor: pointer;
  font-weight: bold;
  margin: 0 auto; /* Wyśrodkowanie przycisku */
  display: block; /* Upewnia się, że button zajmuje całą szerokość dostępnego miejsca */
}

.add-facility-form button:hover {
  background-color: #0056b3;
}

.add-facility-form p {
  text-align: center;
  color: red;
}
