#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-icon {
  top: 5px;
  position: absolute;
  right: 1%;
  width: 150px; /* Zwiększ szerokość ikony */
  height: auto; /* Automatyczne dopasowanie wysokości */
}

/* Stylizacja dla wycentrowanego napisu */
h1 {
  text-align: center;
  font-size: 3rem;
  color: #f8f9fa;
  margin-top: 200px;
}

p {
  text-align: center;
  color: #adb5bd;
  font-size: 1.2rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.logo-icon {
  width: 75px; /* Szerokość obrazu */
  height: auto; /* Automatyczna wysokość, aby zachować proporcje */
  margin: 5px; /* Opcjonalnie: dodanie marginesu wokół ikony */
}

