.facility-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.facility-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.facility-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.facility-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.facility-card p {
    font-size: 0.9rem;
    margin: 5px 0;
}

.add-facility-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.add-facility-button:hover {
    background-color: #0056b3;
}

.facility-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
